<!doctype html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="style">
    <title> ABOUT THE MASTERS</title>
  </head>
  <body>
    <h1> Master Rohan </h1>
      <p> Mastor Rohan has been incarcerated for the past two years for being convicted of felony stalking and third degree menacing after she broke into the home of a man who she claimed to be her husband when in reality they had only met once. However, she was paroled last month for good behavior and will be released in the next few weeks. She hopes to continue to spend quality time with her husband and looks forward to deepening their relationship.
    </p>
    <h1> Master Bator</h1>
    <p> Mastor Bator is the first women to ever be let onto the US Mens National Soccer Team, as they were unsure of her actual sex. Unfortunately, she was recently suspended after her massive steroid use was uncovered. Now, in the wake of her suspension, she spends her time selling her teammates' used underwear on ebay. 
      
    </p>
    <h1> Master Bee </h1>
    <p> Master Bee enjoys emotionless dinners with her extended family and sweeping all issues under the rug. She is descended from one of the first colonists and has many proud patriotic and prominent relatives. 
    </p>
    <h1> Master Poutine </h1>
    <p> Master Poutine is a proud Russian American. She is from a long line of members of the KGB and can trace her direct lineage to Stalin. She owns a sishkabab stand in Brighton Beach and is a proud and active member of the mob. In her free time she trafficks arms and prostitutes. This summer she plans to personally travel to Crimea with her shotgun and carry out God's (a.k.a. Putin's) work. 
    </p>
  </body>
</html>