<!doctype html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="style">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/2/27/Morton_Umbrella_Girl.png">
    <title> About the Masters </title>
  </head>
  <body>
    <h1> Master Rohan </h1>
      <p> Rachel has been incarcerated for the past two years for being convicted of felony stalking and third degree menacing after she broke into the home of a man who she claimed to be her husband when in reality they had only met once. 
    </p>
    <h1> Master Bait </h1>
    <p> Master is the first women to ever be let onto the US Mens National Soccer Team as they were unsure of her actual sex. Unfortuately she was recently suspended after her massive steroid use was uncovered. She is very active in the lesbian community eventhough she does not identify as lesbian or straight. As she was suspended from the national team she now sells the used socks and underwear of her teamates on ebay. 
      
    </p>
    <h1> Master Bee </h1>
    <p> Master Bee enjoys emotionless dinners with her extended family and sweeping all issues under the rug. She is descended from one of the first colonists and has many proud patriotic and prominent relatives. She is a prominent anti-immigration supporter and spends her time at her compound on the border of Mexico and Texas personally preventing illegal immigrants from crossing. She has personally financed a state of the art electic fence surrounding the border. 
    </p>
    
    <h1> Master Poutine </h1>
    <p> Master Poutine is a proud Russian American. She is from a long line of members of the KGB and can trace her direct lineage to Stalin. She owns a sishkabab stand in Brighten Beach and is a proud and active member of the mob. In her free time she traffics arms and prostitutes. This summer she plans to go herself to Crimea with her shotgun and carry out God's (a.k.a. Putin's) work. 
  </body>
</html>