<link rel="stylesheet" type="text.css" href="public/css/style.css">

<div class="content">
  
  <h1>Weather to Wear</h1>
    <form action="/weather" method="POST">
      <label>
        Enter your zip code:
      </label>
       <br>
      <input type="text" name="user_input">
<<<<<<< HEAD
      <button value="submit">Get Weather</button>
=======
      <button value="submit">Find my outfit</button>
>>>>>>> a26621c0f0a5b8c07e3cc085ab133653de537248
    </form>

  <!-- your form will go here -->

</div>
