<link href="css/style.css" rel="stylesheet" type="style">

<body>
<div class="content">
  
  <h1>Weather to Wear</h1>
    <form action="/weather" method="POST">
      <div class="content" id="city">
        <label>
          Enter your city: 
        </label>
      </div>
       <br>
      <input type="text" name="city">
      <br>
      <div class="content" id="state">
        <label>Enter your two letter state abbreviation:</label>
      </div>
      <br>
        <input type="text" name="state">
      <br>
      <button value="submit">Find my outfit</button>
    </form>
 
  <!-- your form will go here -->
  <a href="weather-clothing-app/views/about.erb">
    <h2> About the Creators </h2>
  </a>
  
</div>
</body>
