<!doctype html>
<head>
  <link href="css/style.css" rel="stylesheet" type="style">
  <title> Weather to Wear </title>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/2/27/Morton_Umbrella_Girl.png">
</head>
<body>
  
<div class="content">
  <div class = "content" id="title">
  <h1>Weather to Wear</h1>
    <h3>Your guide to daily weather-appropriate outfits</h3>
  </div>
    <form action="/weather" method="POST">
      <div class="content" id="city">
        <label>
          Enter your city: 
        </label>
      </div>
       <br>
      <input type="text" name="city">
      <br>
      <br>
      <div class="content" id="state">
        <label>Enter your state or country abbreviation:</label>
      </div>
      <br>
        <input type="text" name="state">
      <br>
      <button value="submit">Find my outfit</button>
    </form>
 
  <!-- your form will go here -->
  <a href="/about">
    <h2> About the Masters </h2>
  </a>
  
</div>
  
  <img src= http://static.wixstatic.com/ficons/baefa3_eada1eec47914c0c89c9db1a06bae3e4.png >
</body>
