<link rel="stylesheet" type="text.css" href="public/css/style.css">

<div class="content">
  
  <h1>Weather to Wear</h1>
    <form action="/weather" method="POST">
      <label>
        Enter your city and two letter state abbreviation:
      </label>
       <br>
      <input type="text" name="city">
      <input type="text" name="state">
      <button value="submit">Find my outfit</button>
    </form>

  <!-- your form will go here -->

</div>
