<!doctype html>
<html>
  <head>
    <title>Weather to Wear</title>
    <link rel="stylesheet" type="text/css"
          href="../public/css/style.css">
  </head>
  <body>
    <h1>Weather in <%=@city%>, <%=@state%></h1>
    
    <h3>The temperature is <%=@city_state_temperature%> degrees Fahrenheit, and the conditions are <%=@city_state_description%>.</h3>
    
    <h1>We suggest that you wear</h1>
    
    <h1>We suggest that you bring</h1>
  </body>
</html>