<!doctype html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" type="weather-clothing-app/public/css/style.css">
    <title>Weather to Wear</title>
    <link rel="stylesheet" type="text/css"
          href="../public/css/style.css">
  </head>
  <body>
    
    <h1>Weather in <%=@city%>, <%=@state%></h1>
      <div id="conditions">
        <h3>The temperature is <%=@city_state_temperature%> degrees Fahrenheit, and the conditions are <%=@city_state_description%>.</h3>
      </div>
    
    <h1>We suggest that you wear</h1>
        
    <h1>We suggest that you bring</h1>
  </body>
</html>